# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & IDE
.pytest_cache/
.vscode/
.idea/

# Environment
.env
venv/
env/
ENV/

# OS metadata
Thumbs.db
Desktop.ini
.DS_Store
